<p>Hi <%= @runner.name %>,</p>

<p>It's London Marathon week on Sunday, are you taking part?</p>

<p>How are you finding GoodGym so far? We'll have you running to a coach soon!</p>

<p><%= @runner.trainer.name %></p>

