<p>Hi <%= @runner.name %>,</p>

<p>It's London Marathon week on Sunday, are you taking part?</p>

<p>On our group run this week we ran to help the local city farm.</p>

<p>Have you signed up to do a mission?</p>

<p><%= @runner.trainer.name %></p>
