<div id="banner">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1456894332557-b03dc5cf60d5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b400bcfc546a7a2603ee3cc30891d1cf&auto=format&fit=crop&w=2689&q=80');">
    <%= image_tag 'logo.png', class: 'main-logo' %>
    <div class="banner-content">
      <h1>Trainer Portal</h1>
      <%= link_to 'Trainers', trainers_path, class: 'btn btn-success trainer-btn' %>
    </div>
  </div>
</div>
